  /* 基本页面样式 */
  body {
    margin: 0;
    /* 移除默认边距 */
    overflow: hidden;
    /* 隐藏滚动条 */
    background: #000;
    /* 黑色背景 */
}

/* 覆盖层样式 - 用于显示UI元素 */
#overlay {
    position: absolute;
    /* 绝对定位 */
    top: 50px;
    /* 距离顶部20px */
    left: 50px;
    /* 水平居中 */
    /* 精确居中 */
    color: white;
    /* 白色文字 */
    text-align: center;
    /* 文字居中 */
    z-index: 200;
    /* 确保在3D场景上方 */
}
.btns {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
}
/* 按钮样式 */
button {
    padding: 8px 10px;
    /* 内边距 */
    font-size: 14px;
    /* 字体大小 */
    border-radius: 4px;
}
#info-wrapper{
  margin-top: 10px;
  font-size:12px;
  white-space: nowrap;       /* 禁止换行 */
  overflow: hidden;          /* 内容溢出时隐藏 */
  text-overflow: ellipsis;   /* 溢出时显示省略号（可选） */
  color: #fff;
  font-weight: 500;
  font-size: 20px;
}
#gallery{
  position: fixed;
  z-index: 101;
  left: 30px;
  top: 120px;
  display: grid;
  flex-wrap: wrap;
  gap: 10px;
  grid-template-columns: 1fr 1fr; /* 一行两列 */
}
.gallery-item {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #FFF;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}
.game-tip {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  height: 50px;
  top: 50px;
  color: #FFF;
  font-weight: 500;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.score-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.score {
  margin-left: 10px;
}
.game-tip {
  display: flex;
  flex-direction: column;
}